<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
        <link href="https://fonts.googleapis.com/css2?family=Secular+One&display=swap" rel="stylesheet">
    </head>

    <body>

        <header>
            <div class="logo">
                SenTimeNto
            </div>
            <div class="">
                navigation
            </div>
        </header>

        <main>
            <div>Enter some text here and submit. you will then get some Analytics on the sentiment of the text, possible inputs
                are:
                <br>
                <ul>
                    <li>Text</li>
                    <li>some URL</li>
                </ul>  
            </div>
                <section>
                <form class="" onsubmit="return Client.handleSubmit(event)">
                    <input id="name" type="text" name="input" value="" onblur="" placeholder="Some text">
                    <input type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return handleSubmit(event)">
                </form>
                </section>
            <section>
                <strong>Your Search Text:</strong>
                <div id="search"></div>
            </section>
            <section>
                <strong>Form Results:</strong>
                <div id="results">
                    <div id= positivity></div>
                    <div id= score></div>
                </div>
            </section>
        </main>

        <footer>
            <p>This is a footer</p>
        </footer>

    </body>
</html>
